
*.xcuserstate

*.o

*.dia

build/projet3D.build/Debug/projet3D.build/dgph

*.dat

*.xcuserstate

build/Debug/projet3D

*.dia

*.xcuserstate

*.o

*.xcuserstate

*.plist

*.d

*.d

*.dia

*.o

*.LinkFileList

*.xcscheme

*.xcbkptlist

*.xccheckout

*.pbxproj

*.hmap

*.hmap
